<template id="APPedit">
  <div id="edit-app">

    <a href="#/view" id="back-button"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    <h2>Edit Appointment</h2>
    <h4>Title</h4>
    <input type="text" class="input-form" id="input-title" placeholder="{{appointments.title}}">

    <h4>Street</h4>
    <form class="new-app-form" action="index.html" method="post">
      <input type="text" class="input-form" id="input-street" placeholder="{{appointments.street}}">
      <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
    </form>

    <h4>City, State</h4>
    <input type="text" class="input-form" id="input-city" placeholder="{{appointments.city}}">

    <h4>Date</h4>
    <form class="new-app-form" action="index.html" method="post">
      <input type="text" class="input-form" id="input-date" placeholder="{{appointments.date}}">
      <i class="fa fa-calendar fa-lg" aria-hidden="true"></i>
    </form>

    <h4>Time</h4>
    <form class="new-app-form" action="index.html" method="post">
      <input type="text" class="input-form" id="input-time" placeholder="{{appointments.time}}">
      <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>
    </form>
    <button class="delete-app"><span>Delete</span></button>
    <button class="save-edit-app"><span>Save</span></button>
  </div>
</template>
