<template id="APPhome">
  <div id="homepage">

    <h2>Appointments</h2>


    <a v-link="'/new'" id="plus"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></a>
    <form class="search-form" action="index.html" method="post">
      <input type="text" class="input-form">
      <i class="fa fa-search fa-lg" aria-hidden="true"></i>
    </form>
    <ul id="homepage-ul">
      <li v-link="'/view'" class="homepage-li">
        <div class="left-side"><p>{{appointments.time}}</p></div>
        <div class="right-side">
          <h4>{{appointments.title}}</h4>
          <p>@{{appointments.street}}, {{appointments.city}}</p>
        </div>

      </li>

      <li class="homepage-li">
        <div class="left-side"><p>{{appointments.time}}</p></div>
        <div class="right-side">
          <h4>{{appointments.title}}</h4>
          <p>@{{appointments.street}}, {{appointments.city}}</p>
        </div>
      </li>
    </ul>
  </div>
  
</template>
