
  <div id="app-info">

    <a href="#/info" id="back-button"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    <h2>{{appointments.title}}</h2>
    <p class="meeting-time">
      {{appointments.date}} at <span>{{appointments.time}}</span>
    </p>
    <p class="meeting-location">
      {{appointments.street}}
      <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
    </p>
    <div class="map_img">
      <img src="" alt="" />
    </div>
    <div class="weather">
    </div>
    <button v-link="'/edit'" class="edit-save-app">Edit Appointment</button>
  </div>
