html{
  font: 100%;
}
​
* {
  box-sizing: border-box;
}
​
body{
  font-size: 1em;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: white;
  font-weight: 400;
}
/********** SCSS VARIABLES  *****************/
$green: #5ddab8;
$grey: #d3d3d3;


/**********  GLOBAL STYLING ****************/
.input-form{
  font-size: 1.5em;
  width: 90%;
  display: block;
  margin: 0 auto;
}
.new-app-form{
  position: relative;
  .fa{
    color: grey;
    position: absolute;
    right: 0;
    top: 0;
    margin: .4em 1.2em;
  }
}
.search-form{
  position: relative;
  .fa{
    color: grey;
    position: absolute;
    right: 0;
    top: 0;
    margin: .4em 1.2em;
  }
}


/*******  APPOINTMENTS HOMEPAGE STYLING  ****/
#homepage{
  position: relative;
  font-family: "Lato", sans-serif;
  height: 568px;
  width: 320px;
  border: 2px solid black;
  h2{
    padding: .5em 0;
    border-bottom: 2px solid $grey;
    margin: 0 .5em .5em;
    text-align: center;
    font-size: 2em;
    color: $green;
  }
  #plus{
    padding: 1.5em;
    color: grey;
    border: none;
    background: none;
    font-size: 1em;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
  }
  .homepage-li{
    position: relative;
    display: flex;
    margin: 1em 0 1em 1em;
  }
  .left-side{
    text-align: center;
    float: left;
    height: 4em;
    width: 20%;
    display: inline-block;
    background-color: $green;
    font-weight: 700;
    color: white;
  }
  .right-side{
    text-align: center;
    float: right;
    height: 4em;
    width: 75%;
    display: inline-block;
    background-color: #ddd;
    font-weight: 700;
    color: black;
  }
}
/*************************************/




/*********    NEW-APP PAGE STYLNG ****/
#new-app{
  position: relative;
  font-family: "Lato", sans-serif;
  height: 568px;
  width: 320px;
  border: 2px solid black;
  #back-button{
    padding: 0.75em 0.5em;
    color: grey;
    border: none;
    background: none;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
  }
  h2{
    padding: .5em 0;
    border-bottom: 2px solid $grey;
    margin: 0 .5em;
    text-align: center;
    font-size: 2em;
    color: grey;
    font-weight: 100;
  }

  h4{
    padding: .5em;
    font-size: 1.5em;
    font-weight: 100;
    color: grey;
  }
  .save-app{
    font-family: 'Lato',sans-serif;
    padding: .5em 0;
    position: absolute;
    bottom: 0;
    font-size: 2em;
    background-color: $green;
    color: white;
    font-weight: 400;
    width: 100%;
    border: none;
  }
}
/*********APP-INFO PAGE STYLING ****/
#app-info{
  position: relative;
  font-family: "Lato", sans-serif;
  height: 568px;
  width: 320px;
  border: 2px solid black;
  #back-button{
    padding: 0.75em 0.5em;
    color: grey;
    border: none;
    background: none;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
  }
  h2{
    padding: .5em 0;
    border-bottom: 2px solid $grey;
    margin: 0 .5em .5em;
    text-align: center;
    font-size: 2em;
    color: grey;
  }
  p{
    padding: .5em;
    font-size: 1.5em;
    font-weight: 100;
    color: grey;
  }
  .map_img{
    height: 10em;
    width: 80%;
    background: black;
  }
  .weather{
    background: grey;
    font-size: 1.5em;
    font-weight: 400;
  }
  .save-app{
    padding: .5em 0;
    position: absolute;
    bottom: 0;
    font-size: 2em;
    background-color: $green;
    color: white;
    font-weight: 400;
    width: 100%;
    border: none;
  }
}



/*********EDIT APP PAGE STYLNG ****/
#edit-app{
  position: relative;
  font-family: "Lato", sans-serif;
  height: 568px;
  width: 320px;
  border: 2px solid black;
  #back-button{
    padding: 0.75em 0.5em;
    color: grey;
    border: none;
    background: none;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
  }
  h2{
    padding: .5em 0;
    border-bottom: 2px solid $grey;
    margin: 0 .5em .5em;
    text-align: center;
    font-size: 2em;
    color: grey;
  }

  h4{
    padding: .5em;
    font-size: 1.5em;
    font-weight: 100;
    color: grey;
  }
  .delete-app{
    padding: .5em 0;
    position: absolute;
    bottom: 0;
    font-size: 2em;
    background-color: red;
    color: white;
    font-weight: 400;
    width: 50%;
    border: none;
  }
  .save-app{
    padding: .5em 0;
    position: absolute;
    bottom: 0;
    right:0;
    font-size: 2em;
    background-color: $green;
    color: white;
    font-weight: 400;
    width: 50%;
    border: none;
  }
}
