html{
  font: 100%;
}
​
* {
  box-sizing: border-box;
}
​
body{
  font-size: 1em;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: white;
  font-weight: 400;
}
/********** SCSS VARIABLES  *****************/
$green: #5ddab8;
$grey: #d3d3d3;
$black: rgba(0, 0, 0, 0.5);


/**********  GLOBAL STYLING ****************/
#app{
  margin: 2em;
}
.input-form{
  font-size: 1.5em;
  width: 90%;
  display: block;
  margin: 0 auto;
}
.new-app-form{
  position: relative;
  .fa{
    color: grey;
    position: absolute;
    right: 0;
    top: 0;
    margin: .4em 1.2em;
  }
}
.search-form{
  position: relative;
  .fa{
    color: grey;
    position: absolute;
    right: 0;
    top: 0;
    margin: .4em 1.2em;
  }
}


/*******  APPOINTMENTS HOMEPAGE STYLING  ****/
#homepage{
  position: relative;
  font-family: "Lato", sans-serif;
  height: 568px;
  width: 320px;
  border: 2px solid $black;
  border-radius: 10px;
  h2{
    padding: .5em 0;
    border-bottom: 2px solid $grey;
    margin: 0 .5em .5em;
    text-align: center;
    font-size: 2em;
    color: $green;
  }
  #plus{
    padding: 1.5em;
    color: grey;
    border: none;
    background: none;
    font-size: 1em;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
  }
  .homepage-li{
    position: relative;
    display: flex;
    margin: 1em 0 1em 1em;
  }
  .left-side{
    text-align: left;
    float: left;
    height: 5em;
    width: 20%;
    display: inline-block;
    background-color: $green;
    font-weight: 700;
    color: white;
    p{
      text-align: center;
      margin-top: .75em;
    }
  }
  .right-side{
    text-align: left;
    float: right;
    height: 5em;
    width: 75%;
    display: inline-block;
    background-color: #ddd;
    font-weight: 700;
    color: black;
      h4{
        margin: .75em 1em .5em;
      }
      p{
        margin: .5em 1em;
        font-style: italic;
        font-weight: 100;
      }
  }
}
/*************************************/




/*********    NEW-APP PAGE STYLNG ****/
#new-app{
  position: relative;
  font-family: "Lato", sans-serif;
  height: 568px;
  width: 320px;
  border: 2px solid $black;
  border-radius: 10px;
  #back-button{
    padding: 0.75em 0.5em;
    color: grey;
    border: none;
    background: none;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
  }
  h2{
    padding: .5em 0;
    border-bottom: 2px solid $grey;
    margin: 0 .5em;
    text-align: center;
    font-size: 2em;
    color: grey;
    font-weight: 100;
  }

  h4{
    padding: .5em;
    font-size: 1.5em;
    font-weight: 100;
    color: grey;
    span{
      margin: .5em 2em;
      font-size: .5em;
      font-weight: 700;
    }
  }
  .save-app{
    font-family: 'Lato',sans-serif;
    padding: .4em 0;
    position: absolute;
    bottom: 0;
    font-size: 2em;
    background-color: $green;
    color: white;
    font-weight: 400;
    width: 100%;
    border: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}
/*********APP-INFO PAGE STYLING ****/
#app-info{
  position: relative;
  font-family: "Lato", sans-serif;
  height: 568px;
  width: 320px;
  border: 2px solid $black;
  border-radius: 10px;
  #back-button{
    padding: 0.75em 0.5em;
    color: grey;
    border: none;
    background: none;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
  }
  h2{
    padding: .5em 0;
    border-bottom: 2px solid $grey;
    margin: 0 .5em .5em;
    text-align: center;
    font-size: 2em;
    color: grey;
  }
  p{
    padding: .5em 1em;
    font-size: 1.5em;
    font-weight: 100;
    color: grey;
    span{
      color: $green;
      font-weight: 700;
    }
  }
  .meeting-location{
    font-style: italic;
    i{
      float: right;
    }
  }
  .map_img{
    margin: 1em;
    padding: .5em;
    height: 10em;
    background: $grey;
  }
  .weather{
    margin: 1em;
    padding: .5em;
    background: $grey;
    font-size: 1.5em;
    font-weight: 400;
  }
  .save-app{
    padding: .4em 0;
    position: absolute;
    bottom: 0;
    font-size: 2em;
    background-color: $green;
    color: white;
    font-weight: 400;
    width: 100%;
    border: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}



/*********EDIT APP PAGE STYLNG ****/
#edit-app{
  position: relative;
  font-family: "Lato", sans-serif;
  height: 568px;
  width: 320px;
  border: 2px solid $black;
  border-radius: 10px;
  #back-button{
    padding: 0.75em 0.5em;
    color: grey;
    border: none;
    background: none;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
  }
  h2{
    padding: .5em 0;
    border-bottom: 2px solid $grey;
    margin: 0 .5em .5em;
    text-align: center;
    font-size: 2em;
    color: grey;
  }

  h4{
    padding: .5em;
    font-size: 1.5em;
    font-weight: 100;
    color: grey;
  }
  .delete-app{
    padding: .4em 0;
    position: absolute;
    bottom: 0;
    font-size: 2em;
    background-color: #f54747;
    color: white;
    font-weight: 400;
    width: 50%;
    border: none;
    border-bottom-left-radius: 8px;
    span{
      margin: 1em;
    }
  }
  .save-app{
    padding: .4em 0;
    position: absolute;
    bottom: 0;
    right:0;
    font-size: 2em;
    background-color: $green;
    color: white;
    font-weight: 400;
    width: 50%;
    border: none;
    border-bottom-right-radius: 8px;
    span{
      margin: 1.5em;
    }
  }
}
