/*@charset "UTF-8";*/
html {
  font: 100%; }

​
* {
  box-sizing: border-box; }

​
body {
  font-size: 1em;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: white;
  font-weight: 400; }

/********** SCSS VARIABLES  *****************/
/**********  GLOBAL STYLING ****************/
#app {
  margin: 2em; }

.input-form {
  font-size: 1.5em;
  width: 90%;
  display: block;
  margin: 0 auto; }

.new-app-form {
  position: relative; }
  .new-app-form .fa {
    color: grey;
    position: absolute;
    right: 0;
    top: 0;
    margin: .4em 1.2em; }

.search-form {
  position: relative; }
  .search-form .fa {
    color: grey;
    position: absolute;
    right: 0;
    top: 0;
    margin: .4em 1.2em; }

/*******  APPOINTMENTS HOMEPAGE STYLING  ****/
#homepage {
  position: relative;
  font-family: "Lato", sans-serif;
  height: 568px;
  width: 320px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px; }
  #homepage h2 {
    padding: .5em 0;
    border-bottom: 2px solid #d3d3d3;
    margin: 0 .5em .5em;
    text-align: center;
    font-size: 2em;
    color: #5ddab8; }
  #homepage #plus {
    padding: 1.5em;
    color: grey;
    border: none;
    background: none;
    font-size: 1em;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block; }
  #homepage .homepage-li {
    position: relative;
    display: flex;
    margin: 1em 0 1em 1em; }
  #homepage .left-side {
    text-align: left;
    float: left;
    height: 4em;
    width: 20%;
    display: inline-block;
    background-color: #5ddab8;
    font-weight: 700;
    color: white; }
    #homepage .left-side p {
      text-align: center;
      margin-top: .75em; }
  #homepage .right-side {
    text-align: left;
    float: right;
    height: 4em;
    width: 75%;
    display: inline-block;
    background-color: #ddd;
    font-weight: 700;
    color: black; }
    #homepage .right-side h4 {
      margin: .75em 1em .5em; }
    #homepage .right-side p {
      margin: .5em 1em;
      font-style: italic;
      font-weight: 100; }

/*************************************/
/*********    NEW-APP PAGE STYLNG ****/
#new-app {
  position: relative;
  font-family: "Lato", sans-serif;
  height: 568px;
  width: 320px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px; }
  #new-app #back-button {
    padding: 0.75em 0.5em;
    color: grey;
    border: none;
    background: none;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block; }
  #new-app h2 {
    padding: .5em 0;
    border-bottom: 2px solid #d3d3d3;
    margin: 0 .5em;
    text-align: center;
    font-size: 2em;
    color: grey;
    font-weight: 100; }
  #new-app h4 {
    padding: .5em;
    font-size: 1.5em;
    font-weight: 100;
    color: grey; }
    #new-app h4 span {
      margin: .5em 2em;
      font-size: .5em;
      font-weight: 700; }
  #new-app .save-app {
    font-family: 'Lato',sans-serif;
    padding: .4em 0;
    position: absolute;
    bottom: 0;
    font-size: 2em;
    background-color: #5ddab8;
    color: white;
    font-weight: 400;
    width: 100%;
    border: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px; }

/*********APP-INFO PAGE STYLING ****/
#app-info {
  position: relative;
  font-family: "Lato", sans-serif;
  height: 568px;
  width: 320px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px; }
  #app-info #back-button {
    padding: 0.75em 0.5em;
    color: grey;
    border: none;
    background: none;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block; }
  #app-info h2 {
    padding: .5em 0;
    border-bottom: 2px solid #d3d3d3;
    margin: 0 .5em .5em;
    text-align: center;
    font-size: 2em;
    color: grey; }
  #app-info p {
    padding: .5em 1em;
    font-size: 1.5em;
    font-weight: 100;
    color: grey; }
    #app-info p span {
      color: #5ddab8;
      font-weight: 700; }
  #app-info .meeting-location {
    font-style: italic; }
    #app-info .meeting-location i {
      float: right; }
  #app-info .map_img {
    margin: 1em;
    padding: .5em;
    height: 10em;
    background: #d3d3d3; }
  #app-info .weather {
    margin: 1em;
    padding: .5em;
    background: #d3d3d3;
    font-size: 1.5em;
    font-weight: 400; }
  #app-info .save-app {
    padding: .4em 0;
    position: absolute;
    bottom: 0;
    font-size: 2em;
    background-color: #5ddab8;
    color: white;
    font-weight: 400;
    width: 100%;
    border: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px; }

/*********EDIT APP PAGE STYLNG ****/
#edit-app {
  position: relative;
  font-family: "Lato", sans-serif;
  height: 568px;
  width: 320px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px; }
  #edit-app #back-button {
    padding: 0.75em 0.5em;
    color: grey;
    border: none;
    background: none;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block; }
  #edit-app h2 {
    padding: .5em 0;
    border-bottom: 2px solid #d3d3d3;
    margin: 0 .5em .5em;
    text-align: center;
    font-size: 2em;
    color: grey; }
  #edit-app h4 {
    padding: .5em;
    font-size: 1.5em;
    font-weight: 100;
    color: grey; }
  #edit-app .delete-app {
    padding: .4em 0;
    position: absolute;
    bottom: 0;
    font-size: 2em;
    background-color: #f54747;
    color: white;
    font-weight: 400;
    width: 50%;
    border: none;
    border-bottom-left-radius: 8px; }
    #edit-app .delete-app span {
      margin: 1em; }
  #edit-app .save-app {
    padding: .4em 0;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2em;
    background-color: #5ddab8;
    color: white;
    font-weight: 400;
    width: 50%;
    border: none;
    border-bottom-right-radius: 8px; }
    #edit-app .save-app span {
      margin: 1.5em; }

/*# sourceMappingURL=styles.css.map */
